<!-- order_history.html -->

{% extends "base.html" %}
{% load i18n %}
{% block content%}
{% load cart_tag %}
{% load static%}
{%csrf_token%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 p-8 mb-6">

    <div class="max-w-3xl mx-auto bg-white p-6 rounded shadow mt-6 mb-6">
        <h1 class="text-3xl font-bold mb-6">Order History</h1>

        {% if user_orders %}
            <ul>
                {% for order in user_orders %}
                    <li class="mb-4 p-4 border border-gray-300 rounded">
                        <div class="flex justify-between items-center">
                            <div>
                                <span class="text-gray-500">#{{ order.id }}</span>
                                <span class="text-sm text-gray-400"> - {{ order.created_at }}</span>
                            </div>
                            <div class="text-lg font-bold">Rs.{{ order.total_price }}</div>
                        </div>



                        <a href="{% url "invoice" id=order.id %}"><button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Download</button></a>
                        <!-- Additional Order Details -->
                        <!-- Customize this section based on your needs -->

                        {% comment %} <div class="mt-4"> {% endcomment %}
                            <!-- Add more details or links to individual order pages if needed -->
                            {% comment %} <a href="{% url 'shoppingcart:order_detail' order.id %}" class="text-blue-500 hover:underline">View Details</a> {% endcomment %}
                            <div class="max-w-3xl mx-auto bg-white p-6 rounded shadow ">
                                <h1 class="text-2xl font-bold mb-6">Order Detail - #{{ order.id }}</h1>
                        
                                <!-- Display Order Details -->
                                <div>
                                    <p><span class="font-bold">Date:</span> {{ order.created_at }}</p>
                                    <p><span class="font-bold">Total Price:</span> Rs.{{ order.total_price }}</p>
                                    <div class="image-container" style="display: flex; gap: 10px;">
                                    {% for item in order.orderitem.all%}
                                    <img src="{{ item.product.cover_image.url }}" alt="image"
                                                                    class="w-60 ">
                                    {% endfor %}
                                </div>
                                    <!-- Add more details based on your Order model -->
                                </div>
                        
                                <!-- Additional Order Details -->
                                <!-- Customize this section based on your needs -->
                                
                         
                                <div class="mt-4">
                                    <!-- Add more details or links as needed -->
                                    {% comment %} <a href="{% url 'shoppingcart:order_history' %}" class="text-blue-500 hover:underline">Back to Order History</a> {% endcomment %}
                                </div>
                            </div>
                        
                            <section class="step-wizard m-0 mt-6 ">
                                <ul class="step-wizard-list w-100 border shadow">
                                  <li class="step-wizard-item">
                                    <span class="progress-count ">1</span>
                                    <span class="progress-label">Placed</span>
                                    {% comment %} <span>{{ order.updated_at }}</span> {% endcomment %}
                                  </li>
                                  <li class="step-wizard-item {% if order.status == 'Placed' %}current-item{% endif %}">
                                    <span class="progress-count ">2</span>
                                    <span class="progress-label">Packed</span>
                                    {% comment %} <span>{{ order.updated_at }}</span> {% endcomment %}
                                  </li>
                                  <li class="step-wizard-item {% if order.status == 'Packed' %}current-item{% endif %}">
                                    <span class="progress-count">3</span>
                                    <span class="progress-label">Shipped</span>
                                    {% comment %} <span>{{ order.updated_at }}</span> {% endcomment %}
                                  </li>
                                  <li class="step-wizard-item {% if order.status == 'Shipped' %}current-item{% endif %}">
                                    <span class="progress-count">4</span>
                                    <span class="progress-label">Delivered</span>
                                    {% comment %} <span>{{ order.updated_at }}</span> {% endcomment %}
                                  </li>
                                </ul>
                              </section>
{% comment %}                         
                        </div> {% endcomment %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-gray-500">You don't have any orders yet.</p>
        {% endif %}
    </div>

</body>

</html>
{% endblock %}
